etc/taxon1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--W3C Schema generated by XMLSpy v2006 sp2 U (http://www.altova.com)-->
<!--Please add namespace attributes, a targetNamespace attribute and import elements according to your requirements-->
<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema' 
	xmlns:xhtml='http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd' 
	xmlns:taxon='http://commandus.com/dtd/taxon/1.0/'
	xmlns:oebpackage='http://openebook.org/namespaces/oeb-package/1.0/' 
	xmlns:dc='http://purl.org/dc/elements/1.0/' targetNamespace="taxon"
	elementFormDefault="qualified">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="taxon1dc.xsd" />
	<xs:complexType name="taxon">
		<xs:sequence>
			<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="sys" maxOccurs="unbounded"/>
			<xs:element ref="title" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="description" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="synonyms" minOccurs="0"/>
			<xs:element ref="authors" minOccurs="0"/>
			<xs:element ref="distributions" minOccurs="0"/>
			<xs:element ref="publications" minOccurs="0"/>
			<xs:element ref="date" minOccurs="0"/>
			<xs:element ref="plants" minOccurs="0"/>
			<xs:element ref="symbiosises" minOccurs="0"/>
			<xs:element ref="collections" minOccurs="0"/>
			<xs:element ref="x-metadata" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string"/>
		<xs:attribute ref="xml:lang"/>
		<xs:attribute name="href" type="xs:string"/>
		<xs:attribute name="unique-identifier" type="xs:string"/>
	</xs:complexType>
	<xs:element name="taxon" type="taxon"/>
	<xs:complexType name="ssScript">
		<xs:complexContent>
			<xs:restriction base="xs:anyType">
				<xs:attribute name="value" type="xs:string"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ssScript" type="ssScript"/>
	<xs:complexType name="sys">
		<xs:sequence>
			<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="text"/>
		</xs:sequence>
		<xs:attribute ref="xml:lang"/>
		<xs:attribute name="href" type="xs:string"/>
		<xs:attribute name="name" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="species"/>
					<xs:enumeration value="taxon"/>
					<xs:enumeration value="superorder"/>
					<xs:enumeration value="subkingdom"/>
					<xs:enumeration value="kingdom"/>
					<xs:enumeration value="subfamily"/>
					<xs:enumeration value="phylum"/>
					<xs:enumeration value="infraclass"/>
					<xs:enumeration value="subdivision"/>
					<xs:enumeration value="outgroup"/>
					<xs:enumeration value="infrafamily"/>
					<xs:enumeration value="subtribe"/>
					<xs:enumeration value="family"/>
					<xs:enumeration value="suborder"/>
					<xs:enumeration value="order"/>
					<xs:enumeration value="class"/>
					<xs:enumeration value="superclass"/>
					<xs:enumeration value="tribe"/>
					<xs:enumeration value="superfamily"/>
					<xs:enumeration value="subgenus"/>
					<xs:enumeration value="genus"/>
					<xs:enumeration value="subphylum"/>
					<xs:enumeration value="section"/>
					<xs:enumeration value="division"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="rank" type="xs:NMTOKEN"/>
	</xs:complexType>
	<xs:element name="sys" type="sys"/>
	<xs:complexType name="text">
		<xs:complexContent>
			<xs:restriction base="xs:anyType">
				<xs:attribute name="value" use="required" type="xs:string"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="text" type="text"/>
	<xs:complexType name="title">
		<xs:sequence>
			<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="text"/>
		</xs:sequence>
		<xs:attribute ref="xml:lang"/>
		<xs:attribute name="option" type="xs:string"/>
	</xs:complexType>
	<xs:element name="title" type="title"/>
	<xs:complexType name="description">
		<xs:sequence>
			<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="text" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute ref="xml:lang"/>
	</xs:complexType>
	<xs:element name="description" type="description"/>
	<xs:complexType name="synonyms">
		<xs:sequence>
			<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="name" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="synonyms" type="synonyms"/>
	<xs:complexType name="name">
		<xs:sequence>
			<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="text"/>
		</xs:sequence>
		<xs:attribute ref="xml:lang"/>
		<xs:attribute name="option" type="xs:string"/>
	</xs:complexType>
	<xs:element name="name" type="name"/>
	<xs:complexType name="authors">
		<xs:sequence>
			<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="person" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="authors" type="authors"/>
	<xs:complexType name="person">
		<xs:sequence>
			<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="name" maxOccurs="unbounded"/>
			<xs:element ref="description" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="degree" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="position" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="institute" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="department" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="phone" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="mail" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="email" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="birthday" minOccurs="0"/>
			<xs:element ref="dyingday" minOccurs="0"/>
			<xs:element ref="x-metadata" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="href" type="xs:string"/>
		<xs:attribute name="date" type="xs:string"/>
		<xs:attribute name="rel" type="xs:string"/>
	</xs:complexType>
	<xs:element name="person" type="person"/>
	<xs:complexType name="degree">
		<xs:sequence>
			<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="degree" type="degree"/>
	<xs:complexType name="position">
		<xs:sequence>
			<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="text"/>
		</xs:sequence>
		<xs:attribute ref="xml:lang"/>
	</xs:complexType>
	<xs:element name="position" type="position"/>
	<xs:complexType name="institute">
		<xs:sequence>
			<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="text"/>
		</xs:sequence>
		<xs:attribute ref="xml:lang"/>
	</xs:complexType>
	<xs:element name="institute" type="institute"/>
	<xs:complexType name="department">
		<xs:sequence>
			<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="text"/>
		</xs:sequence>
		<xs:attribute ref="xml:lang"/>
	</xs:complexType>
	<xs:element name="department" type="department"/>
	<xs:complexType name="phone">
		<xs:sequence>
			<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="phone" type="phone"/>
	<xs:complexType name="mail">
		<xs:sequence>
			<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="text"/>
		</xs:sequence>
		<xs:attribute ref="xml:lang"/>
	</xs:complexType>
	<xs:element name="mail" type="mail"/>
	<xs:complexType name="email">
		<xs:sequence>
			<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="email" type="email"/>
	<xs:complexType name="birthday">
		<xs:sequence>
			<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="birthday" type="birthday"/>
	<xs:complexType name="dyingday">
		<xs:sequence>
			<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="dyingday" type="dyingday"/>
	<xs:complexType name="x-metadata">
		<xs:sequence>
			<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="meta" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string"/>
		<xs:attribute ref="xml:lang"/>
	</xs:complexType>
	<xs:element name="x-metadata" type="x-metadata"/>
	<xs:complexType name="meta">
		<xs:sequence>
			<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute ref="xml:lang"/>
		<xs:attribute name="name" use="required" type="xs:string"/>
		<xs:attribute name="content" use="required" type="xs:string"/>
		<xs:attribute name="scheme" type="xs:string"/>
	</xs:complexType>
	<xs:element name="meta" type="meta"/>
	<xs:complexType name="distributions">
		<xs:sequence>
			<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="distribution" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="distributions" type="distributions"/>
	<xs:complexType name="distribution">
		<xs:sequence>
			<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="description" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="area" minOccurs="0"/>
			<xs:element ref="stay" minOccurs="0"/>
			<xs:element ref="label" minOccurs="0"/>
			<xs:element ref="authors" minOccurs="0"/>
			<xs:element ref="publications" minOccurs="0"/>
			<xs:element ref="x-metadata" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="unique-identifier" type="xs:string"/>
		<xs:attribute name="href" type="xs:string"/>
	</xs:complexType>
	<xs:element name="distribution" type="distribution"/>
	<xs:complexType name="area">
		<xs:sequence>
			<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="description" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="region" minOccurs="0"/>
			<xs:element ref="territory" minOccurs="0"/>
			<xs:element ref="location" minOccurs="0"/>
			<xs:element ref="authors" minOccurs="0"/>
			<xs:element ref="publications" minOccurs="0"/>
			<xs:element ref="x-metadata" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="unique-identifier" type="xs:string"/>
		<xs:attribute name="name" type="xs:string"/>
		<xs:attribute name="href" type="xs:string"/>
	</xs:complexType>
	<xs:element name="area" type="area"/>
	<xs:complexType name="region">
		<xs:sequence>
			<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="text" minOccurs="0"/>
			<xs:element ref="description" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="authors" minOccurs="0"/>
			<xs:element ref="publications" minOccurs="0"/>
			<xs:element ref="x-metadata" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute ref="xml:lang"/>
		<xs:attribute name="href" type="xs:string"/>
		<xs:attribute name="type">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="ocean"/>
					<xs:enumeration value="sea"/>
					<xs:enumeration value="basin"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="region" type="region"/>
	<xs:complexType name="publications">
		<xs:sequence>
			<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="publication" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="publications" type="publications"/>
	<xs:complexType name="publication">
		<xs:sequence>
			<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="opf" minOccurs="0"/>
			<xs:element ref="record" minOccurs="0"/>
			<xs:element ref="description" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="dc-metadata" minOccurs="0"/>
			<xs:element ref="x-metadata" minOccurs="0"/>
			<xs:element ref="authors" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="href" type="xs:string"/>
		<xs:attribute name="unique-identifier" type="xs:string"/>
	</xs:complexType>
	<xs:element name="publication" type="publication"/>
	<xs:complexType name="opf">
		<xs:sequence>
			<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="href" type="xs:string"/>
	</xs:complexType>
	<xs:element name="opf" type="opf"/>
	<xs:complexType name="record">
		<xs:sequence>
			<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="text"/>
		</xs:sequence>
		<xs:attribute ref="xml:lang"/>
		<xs:attribute name="href" type="xs:string"/>
	</xs:complexType>
	<xs:element name="record" type="record"/>
	<xs:complexType name="dc-metadata">
		<xs:sequence>
			<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="text" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="Title"/>
			<xs:element ref="Identifier"/>
			<xs:element ref="Contributor" minOccurs="0"/>
			<xs:element ref="Creator" minOccurs="0"/>
			<xs:element ref="Subject" minOccurs="0"/>
			<xs:element ref="Description" minOccurs="0"/>
			<xs:element ref="Publisher" minOccurs="0"/>
			<xs:element ref="Date" minOccurs="0"/>
			<xs:element ref="Type" minOccurs="0"/>
			<xs:element ref="Format" minOccurs="0"/>
			<xs:element ref="Source" minOccurs="0"/>
			<xs:element ref="Language" minOccurs="0"/>
			<xs:element ref="Relation" minOccurs="0"/>
			<xs:element ref="Coverage" minOccurs="0"/>
			<xs:element ref="Rights" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string"/>
		<xs:attribute ref="xml:lang"/>
	</xs:complexType>
	<xs:element name="dc-metadata" type="dc-metadata"/>
	<xs:complexType name="territory">
		<xs:sequence>
			<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="text" minOccurs="0"/>
			<xs:element ref="description" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="authors" minOccurs="0"/>
			<xs:element ref="publications" minOccurs="0"/>
			<xs:element ref="x-metadata" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute ref="xml:lang"/>
		<xs:attribute name="href" type="xs:string"/>
		<xs:attribute name="type">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="ocean"/>
					<xs:enumeration value="sea"/>
					<xs:enumeration value="basin"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="territory" type="territory"/>
	<xs:complexType name="location">
		<xs:sequence>
			<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="text" minOccurs="0"/>
			<xs:element ref="description" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="authors" minOccurs="0"/>
			<xs:element ref="publications" minOccurs="0"/>
			<xs:element ref="x-metadata" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute ref="xml:lang"/>
		<xs:attribute name="href" type="xs:string"/>
		<xs:attribute name="name" type="xs:string"/>
	</xs:complexType>
	<xs:element name="location" type="location"/>
	<xs:complexType name="stay">
		<xs:sequence>
			<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="description" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="source" minOccurs="0"/>
			<xs:element ref="location" minOccurs="0"/>
			<xs:element ref="horisont" minOccurs="0"/>
			<xs:element ref="section" minOccurs="0"/>
			<xs:element ref="square" minOccurs="0"/>
			<xs:element ref="depth" minOccurs="0"/>
			<xs:element ref="date" minOccurs="0"/>
			<xs:element ref="gear" minOccurs="0"/>
			<xs:element ref="sample" minOccurs="0"/>
			<xs:element ref="authors" minOccurs="0"/>
			<xs:element ref="publications" minOccurs="0"/>
			<xs:element ref="x-metadata" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="unique-identifier" type="xs:string"/>
		<xs:attribute name="href" type="xs:string"/>
		<xs:attribute name="type">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="station"/>
					<xs:enumeration value="vessel"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="stay" type="stay"/>
	<xs:complexType name="source">
		<xs:sequence>
			<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="text" minOccurs="0"/>
			<xs:element ref="description" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="x-metadata" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute ref="xml:lang"/>
		<xs:attribute name="href" type="xs:string"/>
		<xs:attribute name="type">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="log"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="source" type="source"/>
	<xs:complexType name="horisont">
		<xs:sequence>
			<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="text" minOccurs="0"/>
			<xs:element ref="description" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="x-metadata" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute ref="xml:lang"/>
		<xs:attribute name="href" type="xs:string"/>
		<xs:attribute name="type">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="hydro"/>
					<xs:enumeration value="pelagy"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="horisont" type="horisont"/>
	<xs:complexType name="section">
		<xs:sequence>
			<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="text" minOccurs="0"/>
			<xs:element ref="description" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="x-metadata" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute ref="xml:lang"/>
		<xs:attribute name="href" type="xs:string"/>
		<xs:attribute name="type">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="hydro"/>
					<xs:enumeration value="pelagy"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="section" type="section"/>
	<xs:complexType name="square">
		<xs:sequence>
			<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="text" minOccurs="0"/>
			<xs:element ref="description" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="x-metadata" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute ref="xml:lang"/>
		<xs:attribute name="href" type="xs:string"/>
		<xs:attribute name="type">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="hydro"/>
					<xs:enumeration value="pelagy"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="square" type="square"/>
	<xs:complexType name="depth">
		<xs:sequence>
			<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute ref="xml:lang"/>
		<xs:attribute name="value" type="xs:string"/>
		<xs:attribute name="ratio" type="xs:string"/>
	</xs:complexType>
	<xs:element name="depth" type="depth"/>
	<xs:complexType name="date">
		<xs:sequence>
			<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="value" type="xs:string"/>
		<xs:attribute name="ratio" type="xs:string"/>
	</xs:complexType>
	<xs:element name="date" type="date"/>
	<xs:complexType name="gear">
		<xs:sequence>
			<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute ref="xml:lang"/>
		<xs:attribute name="value" type="xs:string"/>
		<xs:attribute name="alt" type="xs:string"/>
	</xs:complexType>
	<xs:element name="gear" type="gear"/>
	<xs:complexType name="sample">
		<xs:sequence>
			<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute ref="xml:lang"/>
		<xs:attribute name="value" type="xs:string"/>
		<xs:attribute name="alt" type="xs:string"/>
	</xs:complexType>
	<xs:element name="sample" type="sample"/>
	<xs:complexType name="label">
		<xs:sequence>
			<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="description" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="latitude" minOccurs="0"/>
			<xs:element ref="longitude" minOccurs="0"/>
			<xs:element ref="base" minOccurs="0"/>
			<xs:element ref="point" minOccurs="0"/>
			<xs:element ref="x-metadata" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="label" type="label"/>
	<xs:complexType name="latitude">
		<xs:sequence>
			<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="value" type="xs:string"/>
		<xs:attribute name="alt" type="xs:string"/>
	</xs:complexType>
	<xs:element name="latitude" type="latitude"/>
	<xs:complexType name="longitude">
		<xs:sequence>
			<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="value" type="xs:string"/>
		<xs:attribute name="alt" type="xs:string"/>
	</xs:complexType>
	<xs:element name="longitude" type="longitude"/>
	<xs:complexType name="base">
		<xs:sequence>
			<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="value" type="xs:string"/>
		<xs:attribute name="alt" type="xs:string"/>
		<xs:attribute name="distance" type="xs:string"/>
		<xs:attribute name="direction">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="E"/>
					<xs:enumeration value="N"/>
					<xs:enumeration value="S"/>
					<xs:enumeration value="W"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="base" type="base"/>
	<xs:complexType name="point">
		<xs:sequence>
			<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute ref="xml:lang"/>
		<xs:attribute name="value" type="xs:string"/>
		<xs:attribute name="alt" type="xs:string"/>
	</xs:complexType>
	<xs:element name="point" type="point"/>
	<xs:complexType name="plants">
		<xs:sequence>
			<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="symbiosis" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="plants" type="plants"/>
	<xs:complexType name="symbiosis">
		<xs:sequence>
			<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="description" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="taxon" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="person" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="publications" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="region" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="x-metadata" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="href" type="xs:string"/>
	</xs:complexType>
	<xs:element name="symbiosis" type="symbiosis"/>
	<xs:complexType name="symbiosises">
		<xs:sequence>
			<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="hosts" minOccurs="0"/>
			<xs:element ref="parasites" minOccurs="0"/>
			<xs:element ref="plants" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="symbiosises" type="symbiosises"/>
	<xs:complexType name="hosts">
		<xs:sequence>
			<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="symbiosis" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="hosts" type="hosts"/>
	<xs:complexType name="parasites">
		<xs:sequence>
			<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="symbiosis" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="parasites" type="parasites"/>
	<xs:complexType name="collections">
		<xs:sequence>
			<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="collection" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="collections" type="collections"/>
	<xs:complexType name="collection">
		<xs:sequence>
			<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="item" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="x-metadata" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string"/>
	</xs:complexType>
	<xs:element name="collection" type="collection"/>
	<xs:complexType name="item">
		<xs:sequence>
			<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="sex" minOccurs="0"/>
			<xs:element ref="age" minOccurs="0"/>
			<xs:element ref="count" minOccurs="0"/>
			<xs:element ref="date" minOccurs="0"/>
			<xs:element ref="authors" minOccurs="0"/>
			<xs:element ref="type" minOccurs="0"/>
			<xs:element ref="distribution" minOccurs="0"/>
			<xs:element ref="x-metadata" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="unique-identifier" type="xs:string"/>
	</xs:complexType>
	<xs:element name="item" type="item"/>
	<xs:complexType name="sex">
		<xs:sequence>
			<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="value">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="f"/>
					<xs:enumeration value="m"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ratio" type="xs:string"/>
	</xs:complexType>
	<xs:element name="sex" type="sex"/>
	<xs:complexType name="age">
		<xs:sequence>
			<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="value" type="xs:string"/>
		<xs:attribute name="ratio" type="xs:string"/>
	</xs:complexType>
	<xs:element name="age" type="age"/>
	<xs:complexType name="count">
		<xs:sequence>
			<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="value" type="xs:string"/>
		<xs:attribute name="ratio" type="xs:string"/>
	</xs:complexType>
	<xs:element name="count" type="count"/>
	<xs:complexType name="type">
		<xs:sequence>
			<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute ref="xml:lang"/>
		<xs:attribute name="value" type="xs:string"/>
	</xs:complexType>
	<xs:element name="type" type="type"/>
</xs:schema>
