etc/taxon1dc.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--W3C Schema generated by XMLSpy v2006 sp2 U (http://www.altova.com)-->
<!--Please add namespace attributes, a targetNamespace attribute and import elements according to your requirements-->
<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema' 
	xmlns:xhtml='http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd' 
	xmlns:taxon='http://commandus.com/dtd/taxon/1.0/'
	xmlns:oebpackage='http://openebook.org/namespaces/oeb-package/1.0/' 
	xmlns:dc='http://purl.org/dc/elements/1.0/' targetNamespace="dc"
	elementFormDefault="qualified">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
	<xs:complexType name="Title">
		<xs:sequence>
			<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="text" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string"/>
		<xs:attribute ref="xml:lang"/>
	</xs:complexType>
	<xs:element name="Title" type="Title"/>
	<xs:complexType name="Identifier">
		<xs:sequence>
			<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="text" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string"/>
		<xs:attribute ref="xml:lang"/>
		<xs:attribute name="scheme">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="DOI"/>
					<xs:enumeration value="ISBN"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="Identifier" type="Identifier"/>
	<xs:complexType name="Contributor">
		<xs:sequence>
			<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="text" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string"/>
		<xs:attribute ref="xml:lang"/>
		<xs:attribute name="role">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="ths"/>
					<xs:enumeration value="com"/>
					<xs:enumeration value="red"/>
					<xs:enumeration value="rev"/>
					<xs:enumeration value="ann"/>
					<xs:enumeration value="mdc"/>
					<xs:enumeration value="ant"/>
					<xs:enumeration value="oth"/>
					<xs:enumeration value="spn"/>
					<xs:enumeration value="bkp"/>
					<xs:enumeration value="adp"/>
					<xs:enumeration value="prt"/>
					<xs:enumeration value="aqt"/>
					<xs:enumeration value="arr"/>
					<xs:enumeration value="art"/>
					<xs:enumeration value="aft"/>
					<xs:enumeration value="dsr"/>
					<xs:enumeration value="asn"/>
					<xs:enumeration value="clb"/>
					<xs:enumeration value="pht"/>
					<xs:enumeration value="ill"/>
					<xs:enumeration value="trc"/>
					<xs:enumeration value="edt"/>
					<xs:enumeration value="trl"/>
					<xs:enumeration value="mus"/>
					<xs:enumeration value="lyr"/>
					<xs:enumeration value="aui"/>
					<xs:enumeration value="cmm"/>
					<xs:enumeration value="nrt"/>
					<xs:enumeration value="aut"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="file-as" type="xs:string"/>
	</xs:complexType>
	<xs:element name="Contributor" type="Contributor"/>
	<xs:complexType name="Creator">
		<xs:sequence>
			<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="text" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string"/>
		<xs:attribute ref="xml:lang"/>
		<xs:attribute name="role">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="ths"/>
					<xs:enumeration value="com"/>
					<xs:enumeration value="red"/>
					<xs:enumeration value="rev"/>
					<xs:enumeration value="ann"/>
					<xs:enumeration value="mdc"/>
					<xs:enumeration value="ant"/>
					<xs:enumeration value="oth"/>
					<xs:enumeration value="spn"/>
					<xs:enumeration value="bkp"/>
					<xs:enumeration value="adp"/>
					<xs:enumeration value="prt"/>
					<xs:enumeration value="aqt"/>
					<xs:enumeration value="arr"/>
					<xs:enumeration value="art"/>
					<xs:enumeration value="aft"/>
					<xs:enumeration value="dsr"/>
					<xs:enumeration value="asn"/>
					<xs:enumeration value="clb"/>
					<xs:enumeration value="pht"/>
					<xs:enumeration value="ill"/>
					<xs:enumeration value="trc"/>
					<xs:enumeration value="edt"/>
					<xs:enumeration value="trl"/>
					<xs:enumeration value="mus"/>
					<xs:enumeration value="lyr"/>
					<xs:enumeration value="aui"/>
					<xs:enumeration value="cmm"/>
					<xs:enumeration value="nrt"/>
					<xs:enumeration value="aut"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="file-as" type="xs:string"/>
	</xs:complexType>
	<xs:element name="Creator" type="Creator"/>
	<xs:complexType name="Subject">
		<xs:sequence>
			<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="text" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string"/>
		<xs:attribute ref="xml:lang"/>
	</xs:complexType>
	<xs:element name="Subject" type="Subject"/>
	<xs:complexType name="Description">
		<xs:sequence>
			<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="text" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string"/>
		<xs:attribute ref="xml:lang"/>
	</xs:complexType>
	<xs:element name="Description" type="Description"/>
	<xs:complexType name="Publisher">
		<xs:sequence>
			<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="text" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string"/>
		<xs:attribute ref="xml:lang"/>
	</xs:complexType>
	<xs:element name="Publisher" type="Publisher"/>
	<xs:complexType name="Date">
		<xs:sequence>
			<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="text" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string"/>
		<xs:attribute ref="xml:lang"/>
		<xs:attribute name="event">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="creation"/>
					<xs:enumeration value="modification"/>
					<xs:enumeration value="publication"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="Date" type="Date"/>
	<xs:complexType name="Type">
		<xs:sequence>
			<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="text" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string"/>
		<xs:attribute ref="xml:lang"/>
	</xs:complexType>
	<xs:element name="Type" type="Type"/>
	<xs:complexType name="Format">
		<xs:sequence>
			<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="text" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string"/>
		<xs:attribute ref="xml:lang"/>
	</xs:complexType>
	<xs:element name="Format" type="Format"/>
	<xs:complexType name="Source">
		<xs:sequence>
			<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="text" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string"/>
		<xs:attribute ref="xml:lang"/>
	</xs:complexType>
	<xs:element name="Source" type="Source"/>
	<xs:complexType name="Language">
		<xs:sequence>
			<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="text" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string"/>
		<xs:attribute ref="xml:lang"/>
	</xs:complexType>
	<xs:element name="Language" type="Language"/>
	<xs:complexType name="Relation">
		<xs:sequence>
			<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="text" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string"/>
		<xs:attribute ref="xml:lang"/>
	</xs:complexType>
	<xs:element name="Relation" type="Relation"/>
	<xs:complexType name="Coverage">
		<xs:sequence>
			<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="text" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string"/>
		<xs:attribute ref="xml:lang"/>
	</xs:complexType>
	<xs:element name="Coverage" type="Coverage"/>
	<xs:complexType name="Rights">
		<xs:sequence>
			<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="text" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string"/>
		<xs:attribute ref="xml:lang"/>
	</xs:complexType>
	<xs:element name="Rights" type="Rights"/>
</xs:schema>
