etc/taxon111.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--W3C Schema generated by XMLSpy v2006 sp2 U (http://www.altova.com)-->
<!--Please add namespace attributes, a targetNamespace attribute and import elements according to your requirements-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
	<xs:element name="Title">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="text" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string"/>
			<xs:attribute ref="xml:lang"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Identifier">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="text" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string"/>
			<xs:attribute ref="xml:lang"/>
			<xs:attribute name="scheme">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="DOI"/>
						<xs:enumeration value="ISBN"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Contributor">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="text" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string"/>
			<xs:attribute ref="xml:lang"/>
			<xs:attribute name="role">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="ths"/>
						<xs:enumeration value="com"/>
						<xs:enumeration value="red"/>
						<xs:enumeration value="rev"/>
						<xs:enumeration value="ann"/>
						<xs:enumeration value="mdc"/>
						<xs:enumeration value="ant"/>
						<xs:enumeration value="oth"/>
						<xs:enumeration value="spn"/>
						<xs:enumeration value="bkp"/>
						<xs:enumeration value="adp"/>
						<xs:enumeration value="prt"/>
						<xs:enumeration value="aqt"/>
						<xs:enumeration value="arr"/>
						<xs:enumeration value="art"/>
						<xs:enumeration value="aft"/>
						<xs:enumeration value="dsr"/>
						<xs:enumeration value="asn"/>
						<xs:enumeration value="clb"/>
						<xs:enumeration value="pht"/>
						<xs:enumeration value="ill"/>
						<xs:enumeration value="trc"/>
						<xs:enumeration value="edt"/>
						<xs:enumeration value="trl"/>
						<xs:enumeration value="mus"/>
						<xs:enumeration value="lyr"/>
						<xs:enumeration value="aui"/>
						<xs:enumeration value="cmm"/>
						<xs:enumeration value="nrt"/>
						<xs:enumeration value="aut"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="file-as" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Creator">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="text" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string"/>
			<xs:attribute ref="xml:lang"/>
			<xs:attribute name="role">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="ths"/>
						<xs:enumeration value="com"/>
						<xs:enumeration value="red"/>
						<xs:enumeration value="rev"/>
						<xs:enumeration value="ann"/>
						<xs:enumeration value="mdc"/>
						<xs:enumeration value="ant"/>
						<xs:enumeration value="oth"/>
						<xs:enumeration value="spn"/>
						<xs:enumeration value="bkp"/>
						<xs:enumeration value="adp"/>
						<xs:enumeration value="prt"/>
						<xs:enumeration value="aqt"/>
						<xs:enumeration value="arr"/>
						<xs:enumeration value="art"/>
						<xs:enumeration value="aft"/>
						<xs:enumeration value="dsr"/>
						<xs:enumeration value="asn"/>
						<xs:enumeration value="clb"/>
						<xs:enumeration value="pht"/>
						<xs:enumeration value="ill"/>
						<xs:enumeration value="trc"/>
						<xs:enumeration value="edt"/>
						<xs:enumeration value="trl"/>
						<xs:enumeration value="mus"/>
						<xs:enumeration value="lyr"/>
						<xs:enumeration value="aui"/>
						<xs:enumeration value="cmm"/>
						<xs:enumeration value="nrt"/>
						<xs:enumeration value="aut"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="file-as" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Subject">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="text" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string"/>
			<xs:attribute ref="xml:lang"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Description">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="text" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string"/>
			<xs:attribute ref="xml:lang"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Publisher">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="text" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string"/>
			<xs:attribute ref="xml:lang"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Date">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="text" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string"/>
			<xs:attribute ref="xml:lang"/>
			<xs:attribute name="event">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="creation"/>
						<xs:enumeration value="modification"/>
						<xs:enumeration value="publication"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Type">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="text" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string"/>
			<xs:attribute ref="xml:lang"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Format">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="text" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string"/>
			<xs:attribute ref="xml:lang"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Source">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="text" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string"/>
			<xs:attribute ref="xml:lang"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Language">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="text" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string"/>
			<xs:attribute ref="xml:lang"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Relation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="text" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string"/>
			<xs:attribute ref="xml:lang"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Coverage">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="text" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string"/>
			<xs:attribute ref="xml:lang"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Rights">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="text" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string"/>
			<xs:attribute ref="xml:lang"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
