etc/taxon11.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--W3C Schema generated by XMLSpy v2006 sp2 U (http://www.altova.com)-->
<!--Please add namespace attributes, a targetNamespace attribute and import elements according to your requirements-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
	<xs:element name="taxon">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="sys" maxOccurs="unbounded"/>
				<xs:element ref="title" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="description" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="synonyms" minOccurs="0"/>
				<xs:element ref="authors" minOccurs="0"/>
				<xs:element ref="distributions" minOccurs="0"/>
				<xs:element ref="publications" minOccurs="0"/>
				<xs:element ref="date" minOccurs="0"/>
				<xs:element ref="plants" minOccurs="0"/>
				<xs:element ref="symbiosises" minOccurs="0"/>
				<xs:element ref="collections" minOccurs="0"/>
				<xs:element ref="x-metadata" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string"/>
			<xs:attribute ref="xml:lang"/>
			<xs:attribute name="href" type="xs:string"/>
			<xs:attribute name="unique-identifier" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ssScript">
		<xs:complexType>
			<xs:complexContent>
				<xs:restriction base="xs:anyType">
					<xs:attribute name="value" type="xs:string"/>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="sys">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="text"/>
			</xs:sequence>
			<xs:attribute ref="xml:lang"/>
			<xs:attribute name="href" type="xs:string"/>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="species"/>
						<xs:enumeration value="taxon"/>
						<xs:enumeration value="superorder"/>
						<xs:enumeration value="subkingdom"/>
						<xs:enumeration value="kingdom"/>
						<xs:enumeration value="subfamily"/>
						<xs:enumeration value="phylum"/>
						<xs:enumeration value="infraclass"/>
						<xs:enumeration value="subdivision"/>
						<xs:enumeration value="outgroup"/>
						<xs:enumeration value="infrafamily"/>
						<xs:enumeration value="subtribe"/>
						<xs:enumeration value="family"/>
						<xs:enumeration value="suborder"/>
						<xs:enumeration value="order"/>
						<xs:enumeration value="class"/>
						<xs:enumeration value="superclass"/>
						<xs:enumeration value="tribe"/>
						<xs:enumeration value="superfamily"/>
						<xs:enumeration value="subgenus"/>
						<xs:enumeration value="genus"/>
						<xs:enumeration value="subphylum"/>
						<xs:enumeration value="section"/>
						<xs:enumeration value="division"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="rank" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="text">
		<xs:complexType>
			<xs:complexContent>
				<xs:restriction base="xs:anyType">
					<xs:attribute name="value" use="required" type="xs:string"/>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="title">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="text"/>
			</xs:sequence>
			<xs:attribute ref="xml:lang"/>
			<xs:attribute name="option" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="description">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="text" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute ref="xml:lang"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="synonyms">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="name" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="name">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="text"/>
			</xs:sequence>
			<xs:attribute ref="xml:lang"/>
			<xs:attribute name="option" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="authors">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="person" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="person">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="name" maxOccurs="unbounded"/>
				<xs:element ref="description" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="degree" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="position" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="institute" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="department" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="phone" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="mail" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="email" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="birthday" minOccurs="0"/>
				<xs:element ref="dyingday" minOccurs="0"/>
				<xs:element ref="x-metadata" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="href" type="xs:string"/>
			<xs:attribute name="date" type="xs:string"/>
			<xs:attribute name="rel" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="degree">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="text"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="position">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="text"/>
			</xs:sequence>
			<xs:attribute ref="xml:lang"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="institute">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="text"/>
			</xs:sequence>
			<xs:attribute ref="xml:lang"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="department">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="text"/>
			</xs:sequence>
			<xs:attribute ref="xml:lang"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="phone">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="text"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="mail">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="text"/>
			</xs:sequence>
			<xs:attribute ref="xml:lang"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="email">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="text"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="birthday">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="text"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="dyingday">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="text"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="x-metadata">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="meta" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string"/>
			<xs:attribute ref="xml:lang"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="meta">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute ref="xml:lang"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="content" use="required" type="xs:string"/>
			<xs:attribute name="scheme" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="distributions">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="distribution" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="distribution">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="description" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="area" minOccurs="0"/>
				<xs:element ref="stay" minOccurs="0"/>
				<xs:element ref="label" minOccurs="0"/>
				<xs:element ref="authors" minOccurs="0"/>
				<xs:element ref="publications" minOccurs="0"/>
				<xs:element ref="x-metadata" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="unique-identifier" type="xs:string"/>
			<xs:attribute name="href" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="area">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="description" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="region" minOccurs="0"/>
				<xs:element ref="territory" minOccurs="0"/>
				<xs:element ref="location" minOccurs="0"/>
				<xs:element ref="authors" minOccurs="0"/>
				<xs:element ref="publications" minOccurs="0"/>
				<xs:element ref="x-metadata" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="unique-identifier" type="xs:string"/>
			<xs:attribute name="name" type="xs:string"/>
			<xs:attribute name="href" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="region">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="text" minOccurs="0"/>
				<xs:element ref="description" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="authors" minOccurs="0"/>
				<xs:element ref="publications" minOccurs="0"/>
				<xs:element ref="x-metadata" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute ref="xml:lang"/>
			<xs:attribute name="href" type="xs:string"/>
			<xs:attribute name="type">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="ocean"/>
						<xs:enumeration value="sea"/>
						<xs:enumeration value="basin"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="publications">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="publication" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="publication">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="opf" minOccurs="0"/>
				<xs:element ref="record" minOccurs="0"/>
				<xs:element ref="description" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="dc-metadata" minOccurs="0"/>
				<xs:element ref="x-metadata" minOccurs="0"/>
				<xs:element ref="authors" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="href" type="xs:string"/>
			<xs:attribute name="unique-identifier" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="opf">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="href" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="record">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="text"/>
			</xs:sequence>
			<xs:attribute ref="xml:lang"/>
			<xs:attribute name="href" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="dc-metadata">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="text" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="dc:Title"/>
				<xs:element ref="dc:Identifier"/>
				<xs:element ref="dc:Contributor" minOccurs="0"/>
				<xs:element ref="dc:Creator" minOccurs="0"/>
				<xs:element ref="dc:Subject" minOccurs="0"/>
				<xs:element ref="dc:Description" minOccurs="0"/>
				<xs:element ref="dc:Publisher" minOccurs="0"/>
				<xs:element ref="dc:Date" minOccurs="0"/>
				<xs:element ref="dc:Type" minOccurs="0"/>
				<xs:element ref="dc:Format" minOccurs="0"/>
				<xs:element ref="dc:Source" minOccurs="0"/>
				<xs:element ref="dc:Language" minOccurs="0"/>
				<xs:element ref="dc:Relation" minOccurs="0"/>
				<xs:element ref="dc:Coverage" minOccurs="0"/>
				<xs:element ref="dc:Rights" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string"/>
			<xs:attribute ref="xml:lang"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="territory">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="text" minOccurs="0"/>
				<xs:element ref="description" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="authors" minOccurs="0"/>
				<xs:element ref="publications" minOccurs="0"/>
				<xs:element ref="x-metadata" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute ref="xml:lang"/>
			<xs:attribute name="href" type="xs:string"/>
			<xs:attribute name="type">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="ocean"/>
						<xs:enumeration value="sea"/>
						<xs:enumeration value="basin"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="location">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="text" minOccurs="0"/>
				<xs:element ref="description" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="authors" minOccurs="0"/>
				<xs:element ref="publications" minOccurs="0"/>
				<xs:element ref="x-metadata" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute ref="xml:lang"/>
			<xs:attribute name="href" type="xs:string"/>
			<xs:attribute name="name" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="stay">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="description" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="source" minOccurs="0"/>
				<xs:element ref="location" minOccurs="0"/>
				<xs:element ref="horisont" minOccurs="0"/>
				<xs:element ref="section" minOccurs="0"/>
				<xs:element ref="square" minOccurs="0"/>
				<xs:element ref="depth" minOccurs="0"/>
				<xs:element ref="date" minOccurs="0"/>
				<xs:element ref="gear" minOccurs="0"/>
				<xs:element ref="sample" minOccurs="0"/>
				<xs:element ref="authors" minOccurs="0"/>
				<xs:element ref="publications" minOccurs="0"/>
				<xs:element ref="x-metadata" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="unique-identifier" type="xs:string"/>
			<xs:attribute name="href" type="xs:string"/>
			<xs:attribute name="type">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="station"/>
						<xs:enumeration value="vessel"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="source">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="text" minOccurs="0"/>
				<xs:element ref="description" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="x-metadata" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute ref="xml:lang"/>
			<xs:attribute name="href" type="xs:string"/>
			<xs:attribute name="type">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="log"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="horisont">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="text" minOccurs="0"/>
				<xs:element ref="description" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="x-metadata" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute ref="xml:lang"/>
			<xs:attribute name="href" type="xs:string"/>
			<xs:attribute name="type">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="hydro"/>
						<xs:enumeration value="pelagy"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="section">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="text" minOccurs="0"/>
				<xs:element ref="description" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="x-metadata" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute ref="xml:lang"/>
			<xs:attribute name="href" type="xs:string"/>
			<xs:attribute name="type">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="hydro"/>
						<xs:enumeration value="pelagy"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="square">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="text" minOccurs="0"/>
				<xs:element ref="description" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="x-metadata" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute ref="xml:lang"/>
			<xs:attribute name="href" type="xs:string"/>
			<xs:attribute name="type">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="hydro"/>
						<xs:enumeration value="pelagy"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="depth">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute ref="xml:lang"/>
			<xs:attribute name="value" type="xs:string"/>
			<xs:attribute name="ratio" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="date">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="value" type="xs:string"/>
			<xs:attribute name="ratio" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="gear">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute ref="xml:lang"/>
			<xs:attribute name="value" type="xs:string"/>
			<xs:attribute name="alt" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="sample">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute ref="xml:lang"/>
			<xs:attribute name="value" type="xs:string"/>
			<xs:attribute name="alt" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="label">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="description" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="latitude" minOccurs="0"/>
				<xs:element ref="longitude" minOccurs="0"/>
				<xs:element ref="base" minOccurs="0"/>
				<xs:element ref="point" minOccurs="0"/>
				<xs:element ref="x-metadata" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="latitude">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="value" type="xs:string"/>
			<xs:attribute name="alt" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="longitude">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="value" type="xs:string"/>
			<xs:attribute name="alt" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="base">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="value" type="xs:string"/>
			<xs:attribute name="alt" type="xs:string"/>
			<xs:attribute name="distance" type="xs:string"/>
			<xs:attribute name="direction">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="E"/>
						<xs:enumeration value="N"/>
						<xs:enumeration value="S"/>
						<xs:enumeration value="W"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="point">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute ref="xml:lang"/>
			<xs:attribute name="value" type="xs:string"/>
			<xs:attribute name="alt" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="plants">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="symbiosis" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="symbiosis">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="description" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="taxon" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="person" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="publications" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="region" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="x-metadata" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="href" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="symbiosises">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="hosts" minOccurs="0"/>
				<xs:element ref="parasites" minOccurs="0"/>
				<xs:element ref="plants" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="hosts">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="symbiosis" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="parasites">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="symbiosis" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="collections">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="collection" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="collection">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="item" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="x-metadata" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="item">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="sex" minOccurs="0"/>
				<xs:element ref="age" minOccurs="0"/>
				<xs:element ref="count" minOccurs="0"/>
				<xs:element ref="date" minOccurs="0"/>
				<xs:element ref="authors" minOccurs="0"/>
				<xs:element ref="type" minOccurs="0"/>
				<xs:element ref="distribution" minOccurs="0"/>
				<xs:element ref="x-metadata" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="unique-identifier" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="sex">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="value">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="f"/>
						<xs:enumeration value="m"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ratio" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="age">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="value" type="xs:string"/>
			<xs:attribute name="ratio" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="count">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="value" type="xs:string"/>
			<xs:attribute name="ratio" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="type">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ssScript" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute ref="xml:lang"/>
			<xs:attribute name="value" type="xs:string"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
